<!-- 푸터 -->
<div class="footer-widgets widget-count-4">
  <div class="wrap">
    <div class="mt-about-you-widget">
      <div class="widget footer">
        <img
          class="mt-about-avatar"
          src="{{url_for('static', filename='images/min.jpg')}}"
        />

        <h4>김민희</h4>

        <div class="mt-about-bio">
          <h6>
            <a href="https://github.com/miinxxi" target="_blank">Github</a>
          </h6>
          <h6>
            <a href="https://miimee.tistory.com/" target="_blank">Blog</a>
          </h6>
        </div>
      </div>
    </div>
    <div class="mt-about-you-widget">
      <div class="widget footer">
        <img
          class="mt-about-avatar"
          src="{{url_for('static', filename='images/si.png')}}"
        />

        <h4>최시우</h4>

        <div class="mt-about-bio">
          <h6>
            <a href="https://github.com/siwoo1224" target="_blank">Github</a>
          </h6>
          <h6>
            <a href="https://pink-love-princess.tistory.com/" target="_blank"
              >Blog</a
            >
          </h6>
        </div>
      </div>
    </div>
    <div class="mt-about-you-widget">
      <div class="widget footer">
        <!-- 승현님 -->
        <img
          class="mt-about-avatar"
          style="z-index: 1"
          src="{{url_for('static', filename='images/hyun.jpg')}}"
        />

        <h4>홍승현</h4>

        <div class="mt-about-bio">
          <h6>
            <a href="https://github.com/hongsh429" target="_blank">Github</a>
          </h6>
          <h6>
            <a href="https://hongs429-blog.tistory.com/" target="_blank"
              >Blog</a
            >
          </h6>
        </div>
      </div>
    </div>
    <div class="mt-about-you-widget">
      <div class="widget footer">
        <img
          class="mt-about-avatar"
          src="{{url_for('static', filename='images/123.png')}}"
        />

        <h4>박준영</h4>

        <div class="mt-about-bio">
          <h6>
            <a href="https://github.com/junyoung93" target="_blank">Github</a>
          </h6>
          <h6>
            <a href="https://java-develooooop.tistory.com/" target="_blank"
              >Blog</a
            >
          </h6>
        </div>
      </div>
    </div>
    <div class="mt-about-you-widget">
      <div class="widget footer">
        <img
          class="mt-about-avatar"
          src="{{url_for('static', filename='images/moon.jpg')}}"
        />

        <h4>윤문열</h4>

        <div class="mt-about-bio">
          <h6>
            <a href="https://github.com/munyeol-Yoon" target="_blank">Github</a>
          </h6>
          <h6>
            <a href="https://muyeon95.tistory.com/" target="_blank">Blog</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-wrap">
    <div id="footer-text">&copy; 2023 MAT.ZIP</div>

    <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
  </div>
</footer>

<div id="topsearch">
  <div class="table">
    <div class="table-cell">
      <form role="search" method="get" class="searchform" action="index.html">
        <div>
          <input
            type="text"
            value=""
            name="s"
            class="s"
            placeholder="Type and hit enter"
          />
          <input type="submit" class="searchsubmit" value="Search" />
        </div>
      </form>
    </div>
  </div>
  <a href="#topsearch" class="search-trigger"><i class="fa fa-times"></i></a>
</div>
