<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/auth/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />

    <!-- js파일 가지고 오기 -->
    <script src="/static/auth/register.js"></script>
    <script src="/static/auth/login.js"></script>

    <title>15조 웹미니 프로젝트</title>
    <script>
        // 시작
        $(document).ready(function () {
            show_order();
            $('.register').hide();
            $('.login').show();
        });
        function showsign() {
            $('.login').hide();
            $('.register').show();
        }
        function showlogin() {
            $('.register').hide();
            $('.login').show();
        }
        // get 예시
        function show_order() {
            fetch("/").then((res) => res.json()).then((data) => {
            });
        }
        // post
        // 로그인
        function login_post() {
            let formData = new FormData();
            formData.append("sample_give", "샘플데이터");
            fetch("/login", { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
            });
        }
    </script>
</head>

<body>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
    <!-- 로그인 창 -->
    <div id="wrapper1" class="login">
        <div class="main-content">
            <div class="header">
                <img src="/static/auth/matzip.png" />
            </div>
            <div class="l-part">
                <input type="text" placeholder="Username" class="input-1" name="userid" />
                <div class="overlap-text">
                    <input type="password" placeholder="Password" class="input-2" name="userpw" />
                    <a href="#">ㅋ</a>
                </div>
                <input type="button" value="Log in" class="btn" onclick="userLogin();" />
            </div>
        </div>
        <div class="sub-content">
            <div class="s-part">
                아이디 없음? <a href="javascript:showsign();">회원가입창이동</a>
            </div>
    </div>        
    </div>
    <!-- 회원가입 창  -->
    <div id="wrapper2" class="register">
        <div class="main-content">
            <div class="header">
                <img src="/static/auth/matzip.png" />
            </div>
            <div class="l-part">
                <input type="text" placeholder="아이디(4~12자의 영문 대소문자와 숫자로만 입력)" class="input-1" id="RegisterUserId" />
                <div id="idError" class="error"></div>
                <input type="text" placeholder="이름(한글만 입력 가능)" class="input-1" id="RegisterUserName" />
                <div id="nameError" class="error"></div>
                <div class="overlap-text">
                    <input type="password" placeholder="비밀번호" class="input-2" id="RegisterUserPw" />
                    <div id="pwError" class="error"></div>
                    <input type="password" placeholder="비밀번호확인" class="input-2" id="RegisterUserPwChek" />
                    <div id="pwCheckError" class="error"></div>
                </div>
                <input type="button" value="Sign up" class="btn" onclick="loginregister()" />
            </div>
        </div>
        <div class="sub-content">
            <div class="s-part">
                아이디 있음? <a href="javascript:showlogin();">로그인창이동</a>
            </div>
        </div>
    </div>

    <div class="youtube">
        <a href="/#" target="_blank">15조 맛집 게시판</a>
    </div>
</body>

</html>