<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>15조 웹미니 프로젝트</title>

    <style>
      * {
        font-family: "Gowun Batang", serif;
      }

      body {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("");
        background-position: center;
        background-size: cover;
      }

      h1 {
        font-weight: bold;
      }

      .order {
        width: 500px;
        margin: 60px auto 0px auto;
        padding-bottom: 60px;
      }

      .mybtn {
        width: 49%;
      }

      .order > table {
        margin: 40px 0;
        font-size: 18px;
      }

      option {
        color: black;
      }
    </style>
    <script>
      // 시작
      $(document).ready(function () {
        show_order();
      });
      // get 예시
      function show_order() {
        fetch("/")
          .then((res) => res.json())
          .then((data) => {});
      }

      // post
      // 로그인
      function login_post() {
        let formData = new FormData();
        formData.append("sample_give", "샘플데이터");

        fetch("/login", { method: "POST", body: formData })
          .then((res) => res.json())
          .then((data) => {});
      }
      // 로그인 end
      // 회원가입
      function loginregister() {
        let formData = new FormData();
        let userid = $("#RegisterUserId ").val();
        let userpw = $("#RegisterUserPw ").val();
        let userpw2 = $("#RegisterUserPwChek").val();

        if (userid == null || userid == "") {
          alert("아이디 작성 필수");
          return;
        }
        if (userpw != userpw2) {
          alert("비번이 일치 x");
          return;
        }

        formData.append("userid", userid);
        formData.append("userpw", userpw);

        fetch("/loginregister", { method: "POST", body: formData })
          .then((res) => res.json())
          .then((data) => {});
      }
      // 회원가입 end
      // 아이디중복확인
      function useridchek() {
        let formData = new FormData();
        let userid = $("#RegisterUserId ").val();
        formData.append("userid", userid);

        fetch("/loginregister", { method: "POST", body: formData })
          .then((res) => res.json())
          .then((data) => {});
      }
      // 아이디중복확인 end
    </script>
  </head>

  <body>
    <!-- 모달창 -->
    <div
      class="modal fade"
      id="loginregister_modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">회원가입</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            아이디 : <input type="text" id="RegisterUserId" />
            <br />
            <button id="IdChekResult" onclick="useridchek()">
              아이디 중복 확인
            </button>
            <div>중복확인하세요ㅋ</div>
            <br />
            비밀번호 : <input type="text" id="RegisterUserPw" />
            <br />
            비밀번호 확인 : <input type="text" id="RegisterUserPwChek" />
            <br />
            <div id="RegisterUserPwChekResult">비밀번호 확인</div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              onclick="loginregister()"
            >
              회원가입
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 모달창 end -->

    <div class="mask"></div>
    <!-- 로그인 창 -->
    <div class="order">
      <h1>로그인</h1>
      <div class="order-info">
        <div class="input-group mb-3">
          <span class="input-group-text">이름</span>
          <input id="userid" type="text" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">비밀번호</span>
          <input id="userpasswd" type="text" class="form-control" />
        </div>
        <button
          onclick="login_post()"
          type="button"
          class="btn btn-warning mybtn"
        >
          로그인
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#loginregister_modal"
        >
          회원가입
        </button>
      </div>
    </div>
    <!-- 로그인 창 end -->
  </body>
</html>
