
<!DOCTYPE html>

<html class="home blog no-js" lang="en-US">

<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/auth/login.js"></script>

  <title>MAT.ZIP | HOME</title>

  <script>
    $(document).ready(function () {
      listing();
    });
    

    function listing() {
      fetch('/list').then((res) => res.json()).then((data) => {
        let rows = data['result']
        $('.sticky-inner').empty()
        rows.forEach((a) => {
          // let image = a['image']
          let title = a['title']
          let address = a['address']
          // let comment = a['comment']
          let star = a['star']
          let date = a['date']
          let num = a['_id']
          let img = a['imgurl']
          let star_repeat = '⭐'.repeat(star)

          let temp_html = `<aside class="home-sticky-post post has-post-thumbnail sticky">
                                      <span class="post-image" >
                                        <a href="/board/detail?num=${num}">
                                          <img
                                            width="502"
                                            height="502"
                                            src="${img}"
                                            class="attachment-sticky size-sticky"
                                            alt="이미지가 없습니다."
                                          />
                                        </a>
                                      </span>

                                      <div class="inner">
                                        <h3 class="entry-title">
                                          <a href="/board/detail?num=${num}">${title}</a>
                                          <h4>${star_repeat}</h4>
                                        </h3>
                                        
                                        <ul class="meta top">
                                          <li class="time">
                                            <a href="#" title="The Apothecary">
                                              <time class="post-date updated" datetime="2015-01-31"
                                                >${address}</time
                                              >
                                            </a>
                                          </li>

                                          <li class="time">
                                            <a href="#" title="The Apothecary">
                                              <time class="post-date updated" datetime="2015-01-31"
                                                >${date}</time
                                              >
                                            </a>
                                          </li>
                                        </ul>
                                      </div>
                                    </aside>`

          $('.sticky-inner').append(temp_html)
        })
      })
    }
    function update(num){
            let formData = new FormData();
            formData.append("num", num);
            fetch('/board/detail', { method: "POST", body: formData}).then((response) => response.json()).then((data) => {
                alert(data["msg"]);
                window.location.reload();
            });
        }
  </script>

  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css" media="all" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
    type="text/css" media="screen" />
  <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="../static/ie.css" type="text/css" media="print" />
  <!--[if (lt IE 9) & (!IEMobile)]>
      <link
        rel="stylesheet"
        id="lt-ie9-css"
        href="ie.css"
        type="text/css"
        media="screen"
      />
    <![endif]-->
  <!-- <script src="js/jquery-3.0.0.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script> -->

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="home sticky-menu sidebar-off" id="top">
  {% include 'header.html' %}
  <div class="home-sticky" id="content">
    <h2 class="home-sticky-title">It's life food</h2>

    <div class="sticky-inner">
      <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
          <a href="#">
            <img width="502" height="502" src="images/Lollipop-502x502.jpg" class="attachment-sticky size-sticky"
              alt="" />
          </a>
        </span>

        <div class="inner">
          <h3 class="entry-title">
            <a href="#">게시글 제목임</a>
          </h3>

          <ul class="meta top">
            <li class="time">
              <a href="#">
                <time class="post-date updated" datetime="2015-02-02">생성일자임</time>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
          <a href="#">
            <!-- <img width="502" height="502" src="images/Apothecary.jpg" class="attachment-sticky size-sticky" alt="" /> -->
          </a>
        </span>

        <div class="inner">
          <h3 class="entry-title">
            <a href="#">게시글 제목임</a>
          </h3>

          <ul class="meta top">
            <li class="time">
              <a href="#" title="The Apothecary">
                <time class="post-date updated" datetime="2015-01-31">생성일자임</time>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
          <a href="#">
            <!-- <img width="502" height="502" src="images/Flowers.jpg" class="attachment-sticky size-sticky" alt="" /> -->
          </a>
        </span>

        <div class="inner">
          <h3 class="entry-title">
            <a href="#">게시글 제목임</a>
          </h3>

          <ul class="meta top">
            <li class="time">
              <a href="#">
                <time class="post-date updated" datetime="2015-01-25">생성일자임</time>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
          <!-- <a href="#"><img width="502" height="502" src="images/Sun.jpg" class="attachment-sticky size-sticky" alt="" /> -->
          </a>
        </span>

        <div class="inner">
          <h3 class="entry-title">
            <a href="#">게시글 제목임</a>
          </h3>

          <ul class="meta top">
            <li class="time">
              <a href="#" title="The Sunny Day">
                <time class="post-date updated" datetime="2015-01-21">생성일자임</time>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
          <a href="#">
            <!-- <img width="502" height="502" src="images/Meeting.jpg" class="attachment-sticky size-sticky" alt="" /> -->
          </a>
        </span>

        <div class="inner">
          <h3 class="entry-title">
            <a href="#">게시글 제목임</a>
          </h3>

          <ul class="meta top">
            <li class="time">
              <a href="#">
                <time class="post-date updated" datetime="2015-01-02">생성일자임</time>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
          <a href="#">
            <!-- <img width="502" height="502" src="images/Bridge.jpg" class="attachment-sticky size-sticky" alt="" /> -->
          </a>
        </span>

        <div class="inner">
          <h3 class="entry-title">
            <a href="#">게시글 제목임</a>
          </h3>

          <ul class="meta top">
            <li class="time">
              <a href="#">
                <time class="post-date updated" datetime="2014-12-31">생성일자임</time>
              </a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>