<!DOCTYPE html>

<html class="home blog no-js" lang="en-US">

<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/auth/login.js"></script>

  <title>MAT.ZIP | CREATE</title>

  <style>
    .mypost {

      width: 500px;
      margin: 20px auto 20px auto;
      padding: 20px 20px 20px 20px;

      box-shadow: 0px 0px 3px 0px gray;
    }

    .mybtn {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      margin-top: 20px;
    }
  </style>

  <script>
    $(document).ready(function () {
      listing();
    });



    // POST
    function save_order() {
      let title = $('#title').val()
      let address = $('#address').val()
      let star = $('#star').val()
      let comment = $('#comment').val()
      let imgurl = $('#imgurl').val()
      if(star == null || star == ""){
        Swal.fire({
          icon: 'erorr',    
          timerProgressBar: true,   
          showConfirmButton: false,    
          title: "별점을 주세요!", 
          timer: 1000,   
        })
        return;
      }
      let formData = new FormData();
      formData.append("title_give", title)
      formData.append("address_give", address)
      formData.append("star_give", star)
      formData.append("comment_give", comment)
      formData.append('imgurl_give', imgurl)

      fetch('/board/create', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
        Swal.fire({
          icon: 'erorr',    
          timerProgressBar: true,   
          showConfirmButton: false,    
          title: data["msg"], 
          timer: 1000,   
        }).then(function(){
          location.href = '/board/list'
        });
      });
    }
  </script>

  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css" media="all" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
    type="text/css" media="screen" />
  <link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="../static/ie.css" type="text/css" media="print" />
  <!--[if (lt IE 9) & (!IEMobile)]>
      <link
        rel="stylesheet"
        id="lt-ie9-css"
        href="ie.css"
        type="text/css"
        media="screen"
      />
    <![endif]-->
  <script src="js/jquery-3.0.0.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="home sticky-menu sidebar-off" id="top">
  {% include 'header.html' %}

  <div class="home-sticky" id="content">
    <h2 class="home-sticky-title">P O S T I N G</h2>
  </div>

  <div class="mypost">

    <div class="form-floating">

      <div class="order-info">

        <div class="input-group mb-3">
          <span class="input-group-text">맛집 이름</span>
          <input id="title" type="text" class="form-control" />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">위치 정보</span>
          <input id="address" type="text" class="form-control" />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">이미지 URL</span>
          <input id="imgurl" type="text" class="form-control" />
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">&nbsp;&nbsp;⭐&nbsp;&nbsp;</label>
          <select class="form-select" id="star">
            <option value="" selected>-- 이 집의 ⭐은! --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
          </select>
        </div>

        <div class="form-floating">
          <label for="floatingTextarea2">코멘트</label>
          <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
        </div>

      </div>

    </div>

    <div class="mybtn">
      <button onclick="save_order()" type="button" class="btn btn-warning mybtn">
        기록하기
      </button>
    </div>

  </div>

  {% include 'footer.html' %}
</body>

</html>